
ONLY_ACTIVE_ARCH = YES

DEBUG_INFORMATION_FORMAT = dwarf

COPY_PHASE_STRIP = NO

GCC_OPTIMIZATION_LEVEL = 0

SWIFT_COMPILATION_MODE = singlefile
SWIFT_OPTIMIZATION_LEVEL = -Onone

SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) DEBUG
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1

GCC_ENABLE_CPP_EXCEPTIONS = YES

