
#include "Shared.xcconfig"

ONLY_ACTIVE_ARCH = YES

CODE_SIGN_IDENTITY = iPhone Developer
CODE_SIGN_STYLE = Automatic

PRODUCT_NAME = $(TARGET_NAME)
PRODUCT_BUNDLE_IDENTIFIER = STULabel.$(PRODUCT_NAME)

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks

INFOPLIST_FILE = Demo/Info.plist

SWIFT_OBJC_BRIDGING_HEADER = Demo/Demo-Bridging-Header.h

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

CLANG_MODULES_AUTOLINK = NO
