
#include "Static.xcconfig"

PRODUCT_NAME = icu-subset

USER_HEADER_SEARCH_PATHS = $(SRCROOT)/Tests/icu-subset/source/common
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) U_COMMON_IMPLEMENTATION U_STATIC_IMPLEMENTATION UCONFIG_USE_LOCAL

SDKROOT = iphoneos
IPHONEOS_DEPLOYMENT_TARGET = 9.3
TARGETED_DEVICE_FAMILY = 1,2

SKIP_INSTALL = YES
ALWAYS_SEARCH_USER_PATHS = NO
COPY_PHASE_STRIP = NO

GCC_C_LANGUAGE_STANDARD = gnu11
CLANG_CXX_LANGUAGE_STANDARD = gnu++17
CLANG_CXX_LIBRARY = libc++

WARNING_CFLAGS = $(inherited) -Wno-documentation -Wno-shorten-64-to-32
