//ONLY_ACTIVE_ARCH = YES

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym;

COPY_PHASE_STRIP = NO

VALIDATE_PRODUCT = YES

ENABLE_NS_ASSERTIONS = NO

GCC_OPTIMIZATION_LEVEL = 3
OTHER_CFLAGS = $(inherited) //-fno-unroll-loops

LLVM_LTO = YES
//OTHER_LDFLAGS = -Xlinker -mllvm -Xlinker -unroll-count=0 -Xlinker -mllvm -Xlinker -disable-lto-vectorization

SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O

GCC_ENABLE_CPP_EXCEPTIONS = NO

OTHER_CPLUSPLUSFLAGS = $(inherited) -fno-objc-exceptions -fno-objc-arc-exceptions

