#include "Framework.xcconfig"

PRODUCT_NAME = STULabel
PRODUCT_BUNDLE_IDENTIFIER = STULabel.$(PRODUCT_NAME)

INFOPLIST_FILE = STULabel/Info.plist

MODULEMAP_FILE = STULabel/STULabel.modulemap

USER_HEADER_SEARCH_PATHS = $(SRCROOT) $(SRCROOT)/STULabel/Internal

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) STU_IMPLEMENTATION STU_USE_SAFARI_SERVICES=1
